/* Importing Global Variables */
@import 'node_modules/@redhat-cloud-services/frontend-components-utilities/files/Utilities/all';
@import 'node_modules/@redhat-cloud-services/frontend-components-notifications/index.css';

@import '~@patternfly/patternfly/sass-utilities/_all.scss';
@import '~@patternfly/patternfly/utilities/Text/text.scss';
@import '~@patternfly/patternfly/utilities/BackgroundColor/BackgroundColor.scss';


.pf-c-page__main-section.app-services-ui--banner {

  --app-services-ui--banner--before--GridTemplateColumns: 1fr;
  --app-services-ui--banner--ColumnGap: var(--pf-global--spacer--2xl);

  --app-services-ui--banner__tagline--Color: var(--pf-global--Color--light-300);

  // padding on the banner
  --app-services-ui--banner--Padding: var(--pf-global--spacer--lg);
  --app-services-ui--banner--PaddingTop: var(--app-services-ui--banner--Padding);
  --app-services-ui--banner--PaddingRight: var(--app-services-ui--banner--Padding);
  --app-services-ui--banner--PaddingBottom: var(--app-services-ui--banner--Padding);
  --app-services-ui--banner--PaddingLeft: var(--app-services-ui--banner--Padding);

  // background graphics for the hero banner
  --app-services-ui--banner--before--BackgroundImage: url('static/images/AppServicesOverview-IconPattern.svg');
  --app-services-ui--banner--before--BackgroundImage--rhoam: url('static/images/APIManagement_MECH_API_FullColor_Pink.svg');
  --app-services-ui--banner--before--BackgroundImage--rhods: url('static/images/RHODS-ML-Technology.svg');

  // background graphic sizes
  --app-services-ui--banner--before--BackgroundSize: #{pf-size-prem(678px)};
  --app-services-ui--banner--before--BackgroundSize--rhoam: #{pf-size-prem(480px)};
  --app-services-ui--banner--before--BackgroundSize--rhods: #{pf-size-prem(480px)};
  
  // give the graphic negative margins for full bleed
  --app-services-ui--banner--before--Offset--top: calc(var(--app-services-ui--banner--PaddingTop) * -1);
  --app-services-ui--banner--before--Offset--bottom: calc(var(--app-services-ui--banner--PaddingBottom) * -1);
  --app-services-ui--banner--before--Offset--right: calc(var(--app-services-ui--banner--PaddingRight) * -1);
  --app-services-ui--banner--before--Offset--left: calc(var(--app-services-ui--banner--PaddingLeft) * -1);

  // at medium, show the graphic but move it into another grid cell with less opacity
  @media screen and (min-width: $pf-global--breakpoint--md) {
    --app-services-ui--banner--Padding: var(--pf-global--spacer--2xl);
    --app-services-ui--banner--before--Opacity: 0.65;
    --app-services-ui--banner--before--GridTemplateColumns: 2fr 1fr;
    grid-template-areas: 'content graphic';
  }

  // at large, adjust the proportion
  @media screen and (min-width: $pf-global--breakpoint--lg) {
    --app-services-ui--banner--before--GridTemplateColumns: 2fr 1fr;
  }

  // at xl, full opacity for the graphic
  @media screen and (min-width: $pf-global--breakpoint--xl) {
    --app-services-ui--banner--before--Opacity: 1;
  }

  // set up the content area
  display: grid;
  grid-template-columns: var(--app-services-ui--banner--before--GridTemplateColumns);
  grid-template-areas: content;
  grid-gap: var(--app-services-ui--banner--ColumnGap);
  padding-top: var(--app-services-ui--banner--PaddingTop);
  padding-right: var(--app-services-ui--banner--PaddingRight);
  padding-bottom: var(--app-services-ui--banner--PaddingBottom);
  padding-left: var(--app-services-ui--banner--PaddingLeft);

  // set up the image area
  &:before {
    content: '';
    grid-area: graphic; // there won't be a graphic grid element until md breakpoint
    margin-top: var(--app-services-ui--banner--before--Offset--top);
    margin-right: var(--app-services-ui--banner--before--Offset--right);
    margin-bottom: var(--app-services-ui--banner--before--Offset--bottom);
    // margin-left: var(--app-services-ui--banner--before--Offset--left);
    background-image: var(--app-services-ui--banner--before--BackgroundImage);
    background-size: var(--app-services-ui--banner--before--BackgroundSize);
    opacity: var(--app-services-ui--banner--before--Opacity);
  }

  // fix the color of the primary button on the dark background
  &[class*='pf-m-dark-'].pf-c-page__main-section .pf-c-button.pf-m-primary {
      color: var(--pf-global--primary-color-100);
      background-color: var(--pf-global--palette--blue-400);
    }
  &[class*='pf-m-dark-'].pf-c-page__main-section .pf-c-button.pf-m-primary:hover,
  &[class*='pf-m-dark-'].pf-c-page__main-section .pf-c-button.pf-m-primary:focus,
  &[class*='pf-m-dark-'].pf-c-page__main-section .pf-c-button.pf-m-primary:active {
    color: var(--pf-global--primary-color-100);
    background-color: var(--pf-global--palette--blue-500);
  }
}

.app-services-ui--banner__tagline {
  color: var(--app-services-ui--banner__tagline--Color);
  font-size: var(--pf-global--FontSize--lg);
  margin-bottom: var(--pf-global--spacer--lg);
}

.app-services-ui--banner--text-only {
  font-size: var(--pf-global--FontSize--xl);
  text-align: center;
  max-width: 800px;
}

// Set up the card gallery
.app-services-ui--page-section--marketing,
.app-services-ui--page-section--video {
  --pf-c-page__main-section--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-page__main-section--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-page__main-section--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-page__main-section--PaddingLeft: var(--pf-global--spacer--lg);

  & .pf-l-grid.pf-m-gutter {
    --pf-l-grid--m-gutter--GridGap: var(--pf-global--spacer--lg);
  }

  @media screen and (min-width: $pf-global--breakpoint--md) {
    --pf-c-page__main-section--PaddingRight: var(--pf-global--spacer--2xl);
    --pf-c-page__main-section--PaddingLeft: var(--pf-global--spacer--2xl);
  }

}

// bring in the correct image and adjust size for each page
.app-services-ui--banner--rhoam {
  &:before {
    --app-services-ui--banner--before--BackgroundImage: var(--app-services-ui--banner--before--BackgroundImage--rhoam);
    --app-services-ui--banner--before--BackgroundSize: var(--app-services-ui--banner--before--BackgroundSize--rhoam);
    background-position-y: -99px;
    background-repeat: no-repeat;
  }
}

.app-services-ui--banner--rhods {
  &:before {
    --app-services-ui--banner--before--BackgroundImage: var(--app-services-ui--banner--before--BackgroundImage--rhods);
    --app-services-ui--banner--before--BackgroundSize: var(--app-services-ui--banner--before--BackgroundSize--rhods);
    background-repeat: no-repeat;
  }
}

// + icon list
.app-services-ui--icon-list {
  --app-services-ui--icon-list--RowGap: var(--pf-global--spacer--lg);
  --app-services-ui--icon-list--item--ColumnGap: var(--pf-global--spacer--md);
  --app-services-ui--icon-list--item--before--Content--width: 1rem;
  --app-services-ui--icon-list--item--before--Content--height: 1rem;
  --app-services-ui--icon-list--item--before--Content--url: url('static/images/icon__plus-solid.svg');;

  list-style: none;
  display: grid;
  row-gap: var(--app-services-ui--icon-list--RowGap);
  --pf-c-content--ul--MarginLeft: 0;
  
  li {
    display: grid;
    column-gap: var(--app-services-ui--icon-list--item--ColumnGap);
    grid-template-columns: 1rem auto;
    align-content: start;

    &::before {
      grid-column: 1;
      content: var(--app-services-ui--icon-list--item--before--Content--url);
      width: var(--app-services-ui--icon-list--item--before--Content--width);
      height: var(--app-services-ui--icon-list--item--before--Content--height);
      color: var(--pf-global--palette--red-100);
      transform: translateY(2px);
    }
  }
}

// Wrap the video to preserve aspect ratio
.app-services-ui--card--video {
  position: relative;
  /* important only because somehow PF styles are coming in again after */
  padding-bottom: 56.25% !important; /* 16:9 */
  height: 0;
}

.app-services-ui--card--video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app-services-ui--u-display-contents {
  display: contents;
}

#qs-content {
  transform: translate(0);
}

.app-services-ui--button--dev-preview,
.app-services-ui--button--dev-preview:visited
{
  --pf-c-button--m-link--Color: var(--pf-global--Color--dark-100) !important;
  text-decoration: underline;
}

.pf-c-select__toggle:before {
  border-top: 1px solid var(--pf-c-select__toggle--before--BorderTopColor);
  border-right: 1px solid var(--pf-c-select__toggle--before--BorderRightColor);
  border-bottom: 1px solid var(--pf-c-select__toggle--before--BorderBottomColor);
  border-left: 1px solid var(--pf-c-select__toggle--before--BorderLeftColor);
}